@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

div:focus{
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}
.text-ellipsis{
  white-space: nowrap; word-break: keep-all; overflow: hidden; text-overflow: ellipsis;
}
.text-color-white{
  color: white;
}
.text-p-t-5{
  padding-top: 5px;
}
.text-p-b-5{
  padding-bottom: 5px;
}
.bg-67C23A{
  background-color: #67C23A;
}
.color-67C23A{
  color: #67C23A;
}
.bg-F56C6C{
  background-color: #F56C6C;
}
.color-F56C6C{
  color: #F56C6C;
}
.padding-top8{
  padding-top: 8px;
}