<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.FinanceIntroDao">

    <insert id="addMysql" parameterType="com.alibaba.fastjson.JSONObject">
        INSERT INTO t_finance_intro
        (id,
        index_type, code_number, shares_name, shares_alise,
        shares_total_number, shares_allow_total_number, status, load_time,
        create_time, update_time, remarks)
        VALUES
        (
        #{id},
        #{indexType},#{codeNumber},#{sharesName},#{sharesAlise},
        #{sharesTotalNumber},#{sharesAllowTotalNumber},#{status},#{loadTime},
        #{createTime},#{updateTime},#{remarks}
        )
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO t_finance_intro
        (id,
        index_type, code_number, shares_name, shares_alise,
        shares_total_number, shares_allow_total_number, status, load_time,
        create_time, update_time, remarks)
        VALUES
        <foreach collection="list" separator="," item="item" index="index">
            (
            #{item.id},
            #{item.indexType},#{item.codeNumber},#{item.sharesName},#{item.sharesAlise},
            #{item.sharesTotalNumber},#{item.sharesAllowTotalNumber},#{item.status},#{item.loadTime},
            #{item.createTime},#{item.updateTime},#{item.remarks}
            )
        </foreach>
    </insert>

    <select id="countMysql" resultType="Integer">
        SELECT count(0)
        FROM t_finance_intro
        <where>
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="indexType !=null and indexType!=0 ">
                and index_type = #{indexType}
            </if>
            <if test="codeNumber !=null and codeNumber !=''">
                and code_number like concat("%",#{codeNumber},"%")
            </if>
            <if test="sharesName !=null and sharesName !=''">
                and shares_name like concat("%",#{sharesName},"%")
            </if>
        </where>
    </select>
    <select id="listMysql" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
        id,
        index_type as indexType, code_number as codeNumber, shares_name as sharesName,shares_alise as sharesAlise,
        shares_total_number as sharesTotalNumber, shares_allow_total_number as sharesAllowTotalNumber,
        status,
        date_format(load_time, '%Y.%m.%d %T') loadTime,
        date_format(create_time, '%Y.%m.%d %T') createTime,
        date_format(update_time, '%Y.%m.%d %T') updateTime,remarks
        FROM t_finance_intro
        <where>
            <if test="id !=null and id !=''">
                and id = #{id}
            </if>
            <if test="indexType !=null and indexType!=0 ">
                and index_type = #{indexType}
            </if>
            <if test="codeNumber !=null and codeNumber !=''">
                and code_number like concat("%",#{codeNumber},"%")
            </if>
            <if test="sharesName !=null and sharesName !=''">
                and shares_name like concat("%",#{sharesName},"%")
            </if>
        </where>
        ORDER BY create_time DESC
        LIMIT #{offSet}, #{pageRow}
    </select>

    <update id="updateMysql" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE t_finance_intro
        <set>
            <if test="indexType !=null">
                index_type = #{indexType},
            </if>
            <if test="codeNumber !=null">
                code_number = #{codeNumber},
            </if>
            <if test="sharesName !=null">
                shares_name = #{sharesName},
            </if>
            <if test="sharesAlise !=null">
                shares_alise = #{sharesAlise},
            </if>
            <if test="sharesTotalNumber !=null">
                shares_total_number = #{sharesTotalNumber},
            </if>
            <if test="sharesAllowTotalNumber !=null">
                shares_allow_total_number = #{sharesAllowTotalNumber},
            </if>
            <if test="status !=null">
                status = #{status},
            </if>
            <if test="loadTime !=null">
                load_time = #{loadTime},
            </if>
            <if test="createTime !=null">
                create_time = #{createTime},
            </if>
            <if test="updateTime !=null">
                update_time = #{updateTime},
            </if>
            <if test="remarks !=null">
                remarks = #{remarks},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="removeMysql">
        delete
        from t_finance_intro
        where id = #{id}
    </delete>

    <update id="statusMysql" parameterType="com.alibaba.fastjson.JSONObject">
        UPDATE t_finance_intro set status = #{status} WHERE id = #{id}
    </update>

    <update id="createShreas">
        DROP TABLE IF EXISTS ${tableName};
        CREATE TABLE ${tableName} (
          `id` varchar(32) COLLATE utf8mb4_bin NOT NULL,
          `shares_id` varchar(32) COLLATE utf8mb4_bin NOT NULL,
          `today_open_price` double(6,2) DEFAULT NULL COMMENT '今日开盘价',
          `yesterday_close_price` double(6,2) DEFAULT NULL COMMENT '昨日收盘价',
          `today_max_price` double(6,2) DEFAULT NULL COMMENT '今日最高价',
          `today_min_price` double(6,2) DEFAULT NULL COMMENT '今日最低价',
          `today_average_price` double(6,2) DEFAULT NULL COMMENT '今日平均价',
          `deal_amount` decimal(12,0) DEFAULT NULL COMMENT '成交金额',
          `source` tinyint(1) DEFAULT NULL COMMENT '数据来源[1:定时器,2:导入,3:手动添加]',
          `deal_shares_number` decimal(11,0) DEFAULT NULL COMMENT '成交的股票数',
          `amplitude` double(6,2) DEFAULT NULL COMMENT '股票振幅',
          `turnover_rate` double(6,2) DEFAULT NULL COMMENT '股票换手率',
          `shares_date` datetime DEFAULT NULL COMMENT '记录时间',
          `remarks` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL COMMENT '备注',
          PRIMARY KEY (`id`)
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_bin;
    </update>

    <delete id="deleteTable">
        DROP TABLE IF EXISTS ${tableName};
    </delete>
</mapper>
